html * {
	font-family: 'Khula', sans-serif;
	list-style-type: none;
	font-size: 18px;
}


a{
	color: #790A5B;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

input a{
	color: white;
}

input a:hover{
	color: white;
	text-decoration: none;
}

button a{
	color: white;
}

button a:hover{
	color: white;
	text-decoration: none;
}

body{
	background-color: hsl(254,32%,81%);
}

h1,h2,h3{
	font-family: "Shadows Into Light", cursive;
	/*font-family: sans-serif;*/
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3.5rem;
}

h3{
	font-size: 3rem;
}

hr{
	width: 100%; 
	height: 4px;
	border-top: 2px dashed #100535;
}

.title{
	font-family: 'Shadows Into Light', cursive;
	/*font-family: sans-serif;*/
	font-size: 4.5rem;
	background: linear-gradient(#EDA2D8 20%,#C853A8 100%,#EDA2D8 20%);
	height: 7rem;
	width: 425px;
	color: white;
	line-height: 7rem;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	margin-bottom: 0px;
}

.view{
	max-width: 900px;
	margin: auto;
	display: block;
	padding: 0px;
}

.container{
	padding: 0px;
}

.login-form{
	max-width: 600px;
	margin-top: 1rem;
}

.login-form *{
	display: inline-block;
	margin:0.2rem;
}

.nav-list li{
	display: inline-block;
	margin-top: 1rem;
}

.btn{
	background: linear-gradient(#EDA2D8 20%,#C853A8 100%,#EDA2D8 20%);
	color: white;
}

.btn:hover{
	background: linear-gradient(hsl(254,32%,80%) 20%,#9082BE 100%,hsl(254,32%,80%) 20%);
	color: white;
}

.intro-page{
	text-align: center;
}

.intro-page img{
	border-radius: 25%;
}

textarea{
	display: block;
	margin-bottom: 1.5rem;
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

textarea,input{
	margin-bottom: 3rem;
}

.small-area{
	height: 5rem;
}

.medium-area{
	height: 10rem;	
}

.large-area{
	height: 30rem;
}

.radio{
	margin-left: 4rem;
}

textarea{
	border-radius: 5px;
	border-style: none;
}

@media screen and (max-width: 500px){
	.title{
		width: 100%;
		border-radius: 0px;
	}
}

.browse-content{
	background-color: purple;
	border: 4px dashed black;
}

.browse-heading{
	padding: 0.5rem 0rem 1rem 2rem;
	font-family: 'Shadows Into Light', cursive;
	/*font-family: sans-serif;*/
	text-align: center;
	margin: 0px;	
}

.box{
	border-style: dashed;
	border-width: 2px;
	border-radius: 5px;
}

.box h3{
	font-family: 'Shadows Into Light', cursive;
	/*font-family: sans-serif;*/
	letter-spacing: 2px;
}

.blue-box{
	border-color: #013B46;
	background-color: hsl(189,46%,69%);
	color: #000505;
}

.pink-box{
	border-color: #790A58;
	background-color: hsl(317,68%,78%);
	color: #29001E;
}

.purple-box{
	border-color: #100535;
	background-color: hsl(254,32%,63%);
	color: #04000E;
}

.content-box{
	margin: 2rem;
	padding: 1rem;
}

.content-box h3{
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.info-box{
	padding: 3rem;
	margin-top: 2rem;
}

.info-box h2{
	margin-top: 0px;
}

.submission-content{
	max-width: 750px;
	padding: 2rem;
	background-color: hsl(155,0%,97%);
	line-height: 2.75rem;
	box-shadow: 3px 3px 30px 0px #100535;
	border-radius: 4px;
}

.dynamic-box{
	max-width: 28%;
}

/*-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=
BROWSE USERS and BROWSE SUBMISSIONS pages
-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=*/

.item{
	display: inline-block;
	width: 100%;
	margin-top: 2rem;
}

.item-submission div{
	line-height: 2.25rem;
}

.item-user{
	height: 240px;
}

.item-submission{
	height: 275px;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.item-user div{
	padding-left: 2rem;
}

.item-submission div{
	text-align: center;
}

.item h2{
	text-align: center;
}

/*-=-=-=-=-=-=-
MEDIA QUERIES
-=-=-=-=-=-=-
*/

@media screen and (max-width: 768px){

	.dynamic-box{
		max-width: 90%;
	}

}
