p{
	line-height: 1.35rem;
	width: 800px;
}

.font1{
	font-family: ;
}

.font2{
	font-family: ;
}

.font3{
	font-family: ;
}

.font4{
	font-family: ;
}

.font5{
	font-family: ;
}

.font6{
	font-family: ;
}

.font7{
	font-family: ;
}

.storyfont1{
	font-family: ;
}

.storyfont2{
	font-family: ;
}

.storyfont3{
	font-family: ;
}

.storyfont4{
	font-family: ;
}

.storyfont5{
	font-family: ;
}

.storyfont6{
	font-family: ;
}