<div class="view container">
	
<!-- SORTING BUTTONS and HEADING-->

	<div class="box purple-box">
		<h2 class="browse-heading">Users</h2>
	</div>
<div class="sort-buttons">
	<ul class="nav-list">
		<li><button class="btn btn-blue" type="button" ng-click="sortUsers('date')">Recently joined</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortUsers('alpha')">Alphabetical</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortUsers('submissions')">Most submissions</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortUsers('comments')">Most comments</button></li>
	</ul>
</div>


<!-- USERS LIST -->
	
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="user in users">
			<div ng-class-odd="'blue-box'" ng-class-even="'pink-box'" class="item item-user box">
				<a ng-href="/#/profile/{{user.username}}"><h2 style="font-size: 2.5rem;">{{user.username}}</h2></a>
				<div>Created {{user.dateJoined | date:"M/d/yyyy" }}</div>
				<div>{{user.numSubmissions}} submission<span ng-show="user.numSubmissions!=1">s</span></div>
				<div>{{user.numStories}} <span ng-hide="user.numStories==1">stories</span><span ng-show="user.numStories==1">story</span></div>
				<div>{{user.numPoems}} poem<span ng-show="user.numPoems!=1">s</span></div>
				<div>{{user.numEssays}} essay<span ng-show="user.numEssays!=1">s</span></div>
				<div>{{user.numComments}} comment<span ng-show="user.numComments!=1">s</span></div>
			</div>
		</div>
	</div>
	
</div>
