<div class="view container">
	
<!-- SORTING BUTTONS and HEADING-->

	<div class="box purple-box">
		<h1 class="browse-heading">Users</h1>
	</div>

	<ul class="nav-list browse-heading">
		<li><button class="btn" type="button" ng-click="sortUsers('date')">Recently joined</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('alpha')">Alphabetical</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('submissions')">Most submissions</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('stories')">Most stories</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('poems')">Most poems</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('essays')">Most essays</button></li>
		<li><button class="btn" type="button" ng-click="sortUsers('comments')">Most comments</button></li>
	</ul>

<!-- USERS LIST -->
	
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="user in users">
			<div ng-class-odd="'blue-box'" ng-class-even="'pink-box'" class="item item-user box">
				<a ng-href="/#/profile/{{user.username}}"><h2 style="font-size: 2.5rem;">{{user.username}}</h2></a>
				<div>Created {{user.dateJoined | date:"M/d/yyyy" }}</div>
				<div>{{user.numSubmissions}} submissions</div>
				<div>{{user.numStories}} stories</div>
				<div>{{user.numPoems}} poems</div>
				<div>{{user.numEssays}} essays</div>
				<div>{{user.numComments}} comments</div>
			</div>
		</div>
	</div>
	
</div>
