<div class="view container">
	
<!-- SORTING BUTTONS and HEADING-->

	<div class="box purple-box">
		<h1 class="browse-heading">{{browseType}}</h1>
	</div>

	<ul class="nav-list browse-heading">
		<li><button class="btn btn-blue" type="button" ng-click="sortSubmissions('newest')">Newest</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortSubmissions('oldest')">Oldest</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortSubmissions('popular')">Popular</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortSubmissions('title')">Title</button></li>
		<li><button class="btn btn-blue" type="button" ng-click="sortSubmissions('username')">Username</button></li>
	</ul>

<!-- SUBMISSIONS LIST -->
	
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="submission in submissions" style="padding: 7px;">
			<div ng-class-odd="'blue-box'" ng-class-even="'pink-box'" class="item item-submission box">
				<a ng-href="/#/{{browseType.toLowerCase()}}/{{submission._id}}"><h2 style="font-size: 2.5rem;">{{submission.title | limitTo: 35}}<span ng-show="submission.title.length>35">&#133;</span></h2></a>
				<div>by <a ng-href="/#/profile/{{submission.username}}"><b>{{submission.username}}</b></a></div>
				<div>Created {{submission.dateAdded | date:"M/d/yyyy" }}</div>
				<div><i>{{submission.description | limitTo: 100}}</i><span ng-show="submission.description.length>120">&#133;</span></div>
				<div>{{submission.numComments}} comment<span ng-show="submission.numComments!=1">s</span></div>
			</div>
		</div>
	</div>
	
</div>