<div class="view container">
	<div>{{message}}</div>
	<div ng-repeat="submission in submission">
		<h1 class="purple-box box browse-heading">Submission Editor</h1>
		<form class="blue-box box info-box" ng-submit="editSubmission(submission.type)">
			<div>Title</div>
			<input ng-model="submission.title" type="text" name="title">
			<div>Description</div>
			<textarea class="medium-area" ng-model="submission.description" type="text" name="description"></textarea>
			<div>Content</div>
			<textarea class="large-area" ng-model="submission.content" type="text" name="content"></textarea>
<!-- 			<input ng-model="submission.type" type="radio" name="type" value="story">
			<div>Story</div>
			<input ng-model="submission.type" type="radio" name="type" value="poem">
			<div>Poem</div>
			<input ng-model="submission.type" type="radio" name="type" value="essay">
			<div>Essay</div> -->
			<input class="btn btn-default btn-pink" type="submit" value="Save changes!">
		</form>
	</div>
</div>