<div class="view container">
	<div>	
		<h1>My Account</h1>
	</div>

	<div>
		<h2>Edit Profile</h2>
		<form>
			<label>E-mail address</label>
			<input ng-model="me.email" type="text">
			<label>Age</label>
			<input ng-model="me.age" type="text">
			<label>Birthday</label>
			<input ng-model="me.birthday" type="text">
			<label>Favorite Books</label>
			<textarea ng-model="me.favBooks"></textarea>
			<label>Favorite Writers</label>
			<textarea ng-model="me.favWriters"></textarea>
			<label>Biography</label>
			<textarea ng-model="me.bio"></textarea>
			<input type="submit" value="submit changes">
		</form>
	</div>
	
	<div>
		<h2>Change Password</h2>
		<label>Old password:</label>
		<input type="password">
		<label>New password:</label>
		<input type="password">
		<label>Verify new password:</label>
		<input type="password">
		<input type="submit" value="change password">
	</div>
	
	<div>
		<h2>Edit/Delete Submissions</h2>
		<div>
			<h3>My Stories</h3>
			<div ng-repeat="story in stories">
				<span>{{story.title}}</span>
				<button type="button">
					edit
				</button>
				<button type="button">
					delete
				</button>
			</div>
		</div>
		<div>
			<h3>My Poems</h3>
			<div ng-repeat="poem in poems">
				<span>{{poem.title}}</span>
				<button type="button">
					edit
				</button>
				<button type="button">
					delete
				</button>
			</div>
		</div>
		<div>
			<h3>My Essays</h3>
			<div ng-repeat="essay in essays">
				<span>{{essay.title}}</span>
				<button type="button">
					edit
				</button>
				<button type="button">
					delete
				</button>
			</div>
		</div>
	</div>

</div>