<div class="view">
	<div>
		<h2 class="purple-box box browse-heading">Edit Profile</h2>
		<form class="blue-box box info-box" method="POST" action="/api/profile">
			<div ng-hide="true">
				<div>User</div>
				<input ng-model="me.username" name="username" type="text">
			</div>
			<div>E-mail address:</div>
			<input ng-model="me.email" name="email" type="text">
			<div>Age:</div>
			<input ng-model="me.age" name="age" type="text">
			<div>Birthday:</div>
			<input ng-model="me.birthday" name="birthday" type="text">
			<div>Favorite Books, separated by a comma and space:</div>
			<textarea class="small-area" ng-model="me.favBooks" name="favBooks"></textarea>
			<div>Favorite Writers, separated by a comma and space:</div>
			<textarea class="small-area" name="favWriters" ng-model="me.favWriters"></textarea>
			<div>Biography:</div>
			<textarea class="medium-area" ng-model="me.bio" name="bio"></textarea>
			<input class="btn btn-default btn-pink" type="submit" value="submit changes">
		</form>
	</div>

<!-- 	<div>
		<h2>Change Password</h2>
		<div>Old password:</div>
		<input type="password">
		<div>New password:</div>
		<input type="password">
		<div>Verify new password:</div>
		<input type="password">
		<input type="submit" value="change password">
	</div> -->
	
</div>