<div class="view">
	<div>
		<div class="purple-box box content-box">	
			<h1 class="browse-heading">{{submissions.title}}</h1>
			<p style="text-align: center;"><b>{{submissions.type}} by <a href="/#/profile/{{submissions.username}}">{{submissions.username}}</a></b></p>
			<p>
				{{submissions.description}}
			</p>
			<a ng-href="/#/{{type}}/{{submission._id}}/edit"><button type="button" ng-if="submissionAuthor">Edit</button></a>
		</div>
		<hr>
		<div class="submission-content container">
			<div ng-repeat="paragraph in submissions.content">
				<p>
				{{paragraph}}
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="purple-box box info-box">
		<h2>Comments</h2>
		<form ng-submit="submitComment()">
			<div>Let the author know what you think!</div><br>
			<textarea class="medium-area" placeholder="Add a comment..." ng-model="$parent.comment"></textarea>
			<input class="btn btn-default" type="submit" value="Add comment!">
		</form>
	</div>
	<hr>
	<div class="content-box box" ng-class-odd="'blue-box'" ng-class-even="'pink-box'" ng-repeat="comment in comments">
		<h3><a href="/#/profile/{{comment.username}}">{{comment.username}}</a></h3> 
		<b>{{comment.date | date:"MMMM d 'at' h:mm a"}}</b>
		<div>{{comment.comment}}</div>
	</div>
</div>