<div class="view">
	<div ng-repeat="submission in submissions">
		<div class="content-purple content-box">	
			<h1 class="browse-heading">{{submission.title}}</h1>
			<p style="text-align: center;"><b>{{submission.type}} by <a href="/#/profile/{{submissions.username}}">{{submission.username}}</a></b></p>
			<p>
				{{submission.description}}
			</p>
		</div>
		<hr>
		<div class="submission-content container">
			<div ng-repeat="paragraph in submission.content">
				<p>
				{{paragraph}}
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="content-purple info-box">
		<h2>Comments</h2>
		<form ng-submit="submitComment()">
			<div>Let the author know what you think!</div><br>
			<textarea class="medium-area" placeholder="Add a comment..." ng-model="$parent.comment"></textarea>
			<input class="btn btn-default" type="submit" value="Add comment!">
		</form>
	</div>
	<hr>
	<div class="content-box" ng-class-odd="'content-odd'" ng-class-even="'content-even'" ng-repeat="comment in comments">
		<h3><a href="/#/profile/{{comment.username}}">{{comment.username}}</a></h3> 
		<b>{{comment.date | date:"MMMM d 'at' h:mm a"}}</b>
		<div>{{comment.comment}}</div>
	</div>
</div>